<form #myform="ngForm" autocomplete="off">
    
  <div class="inline">
    <fa-icon [icon]="user"></fa-icon
    ><input required ngModel name="username" type="text" placeholder="Username" />
  </div>
        
  <div class="inline">
    <fa-icon
      style="cursor: pointer"
      (click)="toggleEye()"
      [icon]="eyeurl"
    ></fa-icon>
    <input required ngModel name="password" placeholder="Password" [type]="closeEye ? 'password' : 'text'" />
  </div>

  <!-- Structural directive for Button Logging in state-->
  <button type="button" *ngIf="isLoading; else log" >
    <img src="../../assets/spin.gif" alt="spin" />
  </button>

  <ng-template #log>
    <button type="button" (click)="trylogin(myform)"  [disabled]="myform.invalid" >Login</button>
  </ng-template>

  <!--Structural directive for Error Field  -->
  <div *ngIf="isError">
    <div class="error">
      {{ errorText }}
    </div>
  </div>
  

  <div class="inline">
    <a (click)="myform.reset()">Reset</a>

    <a>Forgot password</a>
  </div>
</form>
